.main-wrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 15px;
}

.owner-table-wrap{
    width: 100%;
    max-width: 400px;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.owner-table{
    width: 100%;
}

.owner-table-header{
    border-bottom: black 2px solid;
    text-align: left;
}

.owner-table-header--id{
    text-align: center;
}

.owner-table-item--id{
    text-align: center;
}

.owner-table tr{
    border-bottom: #EEE 1px solid;
}
