body {
    position: relative;
    background-color: #eee;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
}

main {
    flex: 3;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    main {
        margin: 5rem auto 0;
        padding: 0.5rem;
    }
}

aside {
    flex: 1;
    min-height: 100vh;
    color: #d6d8d9;
    background-color: #343a40;
}

@media screen and (max-width: 768px) {
    aside {
        position: fixed;
        display: flex;
        width: 100%;
        min-height: 3rem;
    }
}

.side-content {
    padding: 10px 20px;
    border-bottom: 1px solid #d6d8d9;
}

@media screen and (max-width: 768px) {
    .side-content {
        border-bottom: none;
    }
}

.site-title {
    margin: 0;
    color: #d6d8d9;
    font-size: 24px;
    font-weight: 900;
    text-decoration: none;
}

.nunito-font {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100, "YTLC" 500;
}

main,
aside,
a,
input,
select,
button,
textarea {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
}

.menu-button {
    display: none;
}

@media screen and (max-width: 768px) {
    .menu-button {
        position: absolute;
        display: block;
        top: 1rem;
        right: 1rem;
        appearance: none;
        background-color: transparent;
        color: #d6d8d9;
        border: none;
    }

    .menu-button:hover {
        cursor: pointer;
    }

    .menu-button.is-active {
        color: transparent;
    }

    .menu-button.is-active::before {
        position: absolute;
        content: "×";
        color: #d6d8d9;
        top: 0;
        left: 1rem;
    }

    .menu-wrapper {
        display: none;
    }

    .menu-wrapper.is-active {
        display: inline-block;
    }
}

.menu-wrapper ul {
    padding: 0px 20px;
}

.menu-wrapper li {
    list-style: none;
    margin: 15px 0px;
}

.menu-wrapper a {
    cursor: pointer;
    text-decoration: none;
    color: #d6d8d9;
}

.menu-wrapper button {
    cursor: pointer;
    appearance: none;
    padding: 0;
    color: #d6d8d9;
    background-color: transparent;
    border: none;
    font-size: medium;
}
