.registration-box {
    display: flex;
    flex-flow: column;
    width: 70%;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.title {
    padding: 15px;
    color: #fff;
    background-color: #305dff;
    border-radius: 5px 5px 0 0;
}

.register-form {
    display: flex;
    flex-flow: column;
    padding: 15px;
    align-items: center;
}

.register-form input {
    appearance: none;
    margin: auto;
    height: 1rem;
    width: 90%;
    border: none;
    border-bottom: 1px solid black;
}

.input-wrap {
    width: 100%;
    margin: 1rem;
}

.input-wrap::before {
    display: inline-block;
    content: "";
    width: 1rem;
    height: auto;
    aspect-ratio: 1/1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}

.username__wrap::before {
    background-image: url(../../img/user.svg);
}

.email__wrap::before {
    background-image: url(../../img/email.svg);
}

.password__wrap::before {
    background-image: url(../../img/lock.svg);
}

.submit-button__wrap {
    width: 100%;
    text-align: right;
    margin: 20px;
    padding-right: 5%;
}

.submit-button {
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    color: #fff;
    background-color: #305dff;
    border: none;
    border-radius: 3px;
    text-align: end;
}
