.username {
    text-align: center;
}
.flexbox {
    display: flex;
    padding: 0px;
    justify-content: center;
}
.reservation-container {
    width: 40%;
    padding-right: 10px;
}
.favorite-container {
    width: 50%;
    padding-left: 10px;
}


.reservation-card-area{
    display: flex;
    flex-wrap: wrap;
    gap: 30px 15px;
}

.reservation-card {
    width: 400px;
    background-color: #305dff;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
.reservation__header {
    display: flex;
    color: #fff;
    justify-content: space-between;
}
.reservation__name {
    display: inline-block;
}
.reservation__name::before {
    display: inline-block;
    content: "";
    width: 24px;
    height: auto;
    aspect-ratio: 1/1;
    margin-right: 20px;
    background-image: url(../img/clock.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}
.chancel-button {
    position: relative;
    appearance: none;
    width: 24px;
    height: auto;
    aspect-ratio: 1/1;
    border: 2px solid #fff;
    border-radius: 50px;
    background-color: transparent;
}
.chancel-button::before {
    position: absolute;
    content: "";
    width: 70%;
    height: 2px;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    background-color: #fff;
    transform: translate(-50%, -50%) rotate(45deg);
}
.chancel-button::after {
    position: absolute;
    content: "";
    width: 70%;
    height: 2px;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    background-color: #fff;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.chancel-button:hover{
    cursor: pointer;
}


.table__wrap {
    margin-top: 10px;
}
.reservation__table {
    color: #fff;
}
.reservation__table th {
    width: 100px;
    height: 40px;
    text-align: left;
}
