.username {
    text-align: center;
}
@media screen and (max-width: 768px) {
    .username{
        margin: 0;
    }
}

.flexbox {
    display: flex;
    width: 100%;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .flexbox{
        display: inline;
    }
}


.reservation-container {
    flex: 2;
    min-width: 300px;
    padding: 0 20px;
}
.favorite-container {
    flex: 3;
    width: 100%;
    padding: 0 10px;
}

.reservation-card-area {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px 15px;
    justify-content: center;
}
@media screen and (max-width: 768px) {
    .reservation-card-area{
        gap: 15px;
    }
}


.reservation-card {
    position: relative;
    width: 300px;
    background-color: #305dff;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 768px) {
    .reservation-card{
        width: 100%;
        padding: 20px;
    }
}

.reservation__header {
    display: flex;
    color: #fff;
    justify-content: space-between;
}
.reservation__name {
    display: inline-block;
}
.reservation__name::before {
    display: inline-block;
    content: "";
    width: 24px;
    height: auto;
    aspect-ratio: 1/1;
    margin-right: 20px;
    background-image: url(../img/clock.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}
.chancel-button {
    position: relative;
    appearance: none;
    width: 24px;
    height: auto;
    aspect-ratio: 1/1;
    border: 2px solid #fff;
    border-radius: 50px;
    background-color: transparent;
}
.chancel-button::before {
    position: absolute;
    content: "";
    width: 70%;
    height: 2px;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    background-color: #fff;
    transform: translate(-50%, -50%) rotate(45deg);
}
.chancel-button::after {
    position: absolute;
    content: "";
    width: 70%;
    height: 2px;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    background-color: #fff;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.chancel-button:hover {
    cursor: pointer;
}

.table__wrap {
    width: 100%;
    position: relative;
    margin-top: 10px;
}
.reservation__table {
    width: 100%;
    color: #fff;
}
.reservation__table th {
    width: 35%;
    height: 2rem;
    text-align: left;
}

.edit-button {
    cursor: pointer;
    position: absolute;
    width: 42px;
    height: 42px;
    bottom: 0px;
    right: 0px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 50px;
}

.edit-button::before {
    display: inline-block;
    content: "";
    width: 24px;
    height: auto;
    aspect-ratio: 1/1;
    background-image: url(../img/edit.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}

.edit-form {
    display: none;
}

.edit-form.active {
    width: 100%;
    display: block;
    margin: 20px 0px 30px;
    padding: 20px;
    font-weight: 500;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.group-row {
    display: flex;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.group-row label {
    text-align: left;
    flex: 0 0 35%;
    max-width: 35%;
}

.group-row input {
    flex: 0 0 65%;
    max-width: 65%;
    height: calc(2.25rem);
    border: 1px solid #ced4da;
    border-radius: 5px;
}
.group-row input:disabled {
    color: #fff;
    background-color: transparent;
    border: none;
}

.group-row select {
    flex: 0 0 65%;
    max-width: 65%;
    height: calc(2.25rem);
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.submit-button {
    cursor: pointer;
    appearance: none;
    position: absolute;
    width: 100%;
    height: 50px;
    top: 100%;
    left: 0px;
    transform: translate(0, -100%);
    color: #fff;
    background-color: #0538ff;
    border: none;
    border-radius: 0 0 5px 5px;
}
