.content-wrap {
    display: flex;
    padding: 0px 20px;
}

@media screen and (max-width: 768px) {
    .content-wrap {
        display: inline;
    }
}

.shop-details-area {
    width: 100%;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .shop-details-area {
        padding-top: 0;
    }
}

.back-button {
    cursor: pointer;
    padding: 0px;
    width: 26px;
    aspect-ratio: 1/1;
    color: black;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    vertical-align: middle;
}

.shop-name {
    display: inline-block;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 10px;
}

.shop-img {
    width: 100%;
}

.tag-area {
    margin: 20px 0px;
    display: flex;
    gap: 5px 5px;
}

.tag__item::before {
    content: "#";
}

.reservation-area {
    position: relative;
    width: 100%;
    margin-top: -5%;
    margin-left: 20px;
    padding: 0px 20px;
    color: #fff;
    background-color: #305dff;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
    .reservation-area {
        width: auto;
        margin: 0 20px;
        padding: 20px;
        padding-bottom: calc(20px + 3rem);
    }
}

.please-login-box {
    position: absolute;
    display: flex;
    width: 95%;
    height: 85%;
    top: 4rem;
    left: 2.5%;
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.reservation-area h2 {
    margin: 20px 0px;
}

@media screen and (max-width: 768px) {
    .reservation-area h2 {
        margin: 0;
        margin-bottom: 10px;
    }
}

.reservation-area input,
.reservation-area select {
    border: none;
    width: 100%;
    height: 2rem;
    margin-bottom: 10px;
    border-radius: 5px;
}

#date::-webkit-calendar-picker-indicator {
    padding: 1rem;
}

.confirmation__table-wrap {
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.confirmation__table {
    width: 100%;
    color: #fff;
}

.confirmation__table th {
    padding: 5px;
    text-align: left;
    font-weight: normal;
}

.reserve-submit-button {
    cursor: pointer;
    appearance: none;
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 3rem;
    top: 100%;
    left: 0px;
    transform: translate(0, -100%);
    color: #fff;
    background-color: #0538ff;
    border: none;
    border-radius: 0 0 5px 5px;
}

.reviews-area {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: inset 2px 3px rgba(0, 0, 0, 0.3);
}

.reviews-top-title {
    margin: auto;
}

.reviews-top {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.reviews-average {
    display: flex;
    font-weight: bold;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .reviews-average {
        display: inline;
    }
}

.reviews-average-value {
    font-size: 3rem;
    margin-right: 10px;
}

.reviews-average-star {
    position: relative;
    display: inline-block;
    font-size: 36px;
    width: 180px;
    height: 54px;
}

@media screen and (max-width: 768px) {
    .reviews-average-star {
        font-size: 2rem;
    }
}

.reviews-average-star::before {
    position: absolute;
    content: "★★★★★";
    top: 0px;
    left: 0px;
    color: #c4c4c4;
}

.reviews-average-star::after {
    position: absolute;
    content: "★★★★★";
    top: 0px;
    left: 0px;
    width: calc(var(--rate) * 1em);
    height: 54px;
    color: #feca2f;
    overflow: hidden;
    white-space: nowrap;
}

.review__button {
    appearance: none;
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: gray;
    background-color: #eee;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.3);
}

.review__button.active {
    color: #fff;
    background-color: #305dff;
}

.review-list {
    display: none;
}

.review-list.active {
    display: inline;
}

.review {
    margin: 10px 0;
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.review__header {
    display: flex;
    justify-content: space-between;
}

.review__header--left {
    flex: 4;
    display: flex;
}

.review__header--right {
    flex: 2;
    text-align: end;
}

.review__header-rank {
    display: flex;
    gap: 10px;
}

.review__header-star {
    flex: 1;
    position: relative;
    display: inline-block;
    font-size: 16px;
    min-width: 5rem;
}

.review__header-star::before {
    position: absolute;
    content: "★★★★★";
    top: 0px;
    left: 0px;
    color: #c4c4c4;
}

.review__header-star::after {
    position: absolute;
    content: "★★★★★";
    top: 0px;
    left: 0px;
    width: calc(var(--rate) * 1em);
    height: 24px;
    color: #feca2f;
    overflow: hidden;
    white-space: nowrap;
}

.review__header-value {
    flex: 1;
}

.write-area {
    display: none;
}

.write-area.active {
    display: inline;
}

.write-form {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.star {
    appearance: none;
    width: 24px;
    height: 24px;
    mask-image: url(../img/star.svg);
    mask-repeat: no-repeat;
    mask-size: contain;
}

.star:checked {
    background-color: #feca2f;
}

.rating-star > .star:not(:checked) {
    background-color: #feca2f;
}

.star:checked ~ .star {
    background-color: #c4c4c4;
}

.group-row {
    display: flex;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.group-row label,
.form-label {
    text-align: left;
    flex: 0 0 20%;
    max-width: 20%;
}

.group-row textarea {
    flex: 0 0 80%;
    max-width: 80%;
    min-height: 4rem;
    resize: vertical;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.align-right {
    text-align: right;
}

.review-submit-button {
    cursor: pointer;
    appearance: none;
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: #305dff;
    border: none;
    border-radius: 5px;
}
