.search-box {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 768px) {
    .search-box{
        position: static;
        display: flex;
        flex-wrap: nowrap;
        margin: 0 20px 20px 20px;
    }
}

.search-box form{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
.search-box select,input{
    height: 2.5rem;
    border: none;
    border-radius: 5px;
}
.search-box select{
    flex: 2;
}
.input-text-wrap{
    flex: 5;
}

.search-box input{
    width: 100%;
    padding-left: 30px;
}
.submit-button{
    appearance: none;
    border: none;
    border-radius: 0 5px 5px 0;
    width: 4rem;
    height: 100%;
    color: #fff;
    background-color: #305dff;
}


.input-text-wrap{
    position: relative;
    display: inline-block;
}
.input-text-wrap::before{
    position: absolute;
    content: '';
    width: 20px;
    height: auto;
    top: 50%;
    left: 5px;
    aspect-ratio: 1/1;
    transform: translate(0%,-50%);
    background-image: url(../img/search.svg);
}
html{
    scroll-behavior: smooth;
}
#page-top{
    position: fixed;
    z-index: 3;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
}
#page-top::before{
    cursor: pointer;
    position: absolute;
    display: inline-block;
    content: '';
    width: 35px;
    height: auto;
    aspect-ratio: 1/1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    background-color: #eee;
    -webkit-mask-image: url(../img/up.svg);
    mask-image: url(../img/up.svg);
    mask-size: cover;
    -webkit-mask-size: cover;
    vertical-align: middle;
}

.message-area{
    text-align: center;
    margin: 3rem;
}

.shop-card-area {
    display: flex;
    gap: 30px 15px;
    justify-content: center;
}
